@page
@model StoreWebCore.Pages.Shop.Redirect3Model
@{
}

    <html>
    <head>

    </head>
    <body>
        <h3> index 3 page</h3>
        id1:@Model.Id1
        <br />
        ID2:@Model.Id2
    </body>
    </html>