@page
@model StoreWebCore.Pages.Shop.Redirect0Model
@{
}

<html>
<head>
    
</head>
<body>
    <form asp-page="Redirect0"  method="post">

        <input type="submit" asp-page-handler="Redirect1" value="Pagina 1" />
        <input type="submit" asp-page-handler="Redirect2" value="Pagina 2" />
        <input type="submit" asp-page-handler="Redirect3" value="Pagina 3" />
    </form>
</body>
</html>