@page
@model StoreWebCore.Pages.Shop.SessionModel
@{
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
            <a asp-page="Session2">Dislpay session Values</a>
            
    </body>
    </html>